<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <deunacheckout>
                <model>DUna\Payments\Model\PaymentMethod</model>
                <active>1</active>
                <title>DEUNA Checkout</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
            </deunacheckout>
            <adyen_cc>
                <model>DUna\Payments\Model\PaymentMethods\AdyenCc</model>
                <active>1</active>
                <title>Adyen Credit Card</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
            </adyen_cc>
            <tns_hpf>
                <model>DUna\Payments\Model\PaymentMethods\EvoStd</model>
                <active>1</active>
                <title>EVO Payment</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
            </tns_hpf>
            <amex_hpf>
                <model>DUna\Payments\Model\PaymentMethods\Amex</model>
                <active>1</active>
                <title>AMEX</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
            </amex_hpf>
            <tns_hosted>
                <model>DUna\Payments\Model\PaymentMethods\Evo3ds</model>
                <active>1</active>
                <title>EVO Payment (3DS)</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
            </tns_hosted>
        </payment>
    </default>
</config>